* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* navigation section style */
#hero {
    height: 90vh;
    width: 100%;
    background: #fff8f3;
    background-image: url('img/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.navbar{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}
.logo {
    height: 150px;
    width:200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li:hover{
    background: #EC5B53;
    padding: 10px 0;
    transition: 0.3s;
}
.navbar ul li a{
    padding: 05px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.navbar li a:hover{
    color: #fff;
}
/* banner section style */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 82px 30px 0px 150px;
}
.introduction h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    letter-spacing: .06cm;
    
}
.introduction p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
    font-size: 19px;
    margin: 20px 0;
    max-width:40%;
}
button {
    background: #EC5B53;
    color: #fff;
    margin: 25px 0;
    padding: 12px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
}
button:hover{
    background: #e74941;
}
.my-img {
    width: 500px;
}

/* Main section style */
#about-me {
    padding: 20px;
    background: #fff8f3;
    width:1140px;
    margin: 130px auto;
}
.about-title {
    text-align: center;
    margin: 0 auto;
}
.about-title > h1 {
    font-size: 2.5em;
    margin-top: 50px;
}
.about-title > p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #757575;
    font-size: 1em;
    margin: 30px auto;
    width:50%;
    text-align: center;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0px auto;
}
hr{
    width: 150px;
    border: 1px solid #EC5B53;
    margin: auto;
}
.para {
    width: 50%;
    position: relative;
    left:auto;
    text-align: center;
    margin: 80px;
}
.para h2, p {
    text-align: left;
    margin: 20px;
}
.para p {color: #757575;}
.para button{
    margin-left: 20px ;
    display: block;
}
.about img{
    width: 300px;
    position: relative;
    box-shadow: 15px 15px #EC5B53;
    border-radius: 0px 10px;  
}

/* What I do section style */

.experience{
    width: 1140px;
    margin: 0 auto;
    padding: 30px 150px;
}
.title>h2{
    text-align: center;
    font-size: 2.5em;
}
.title>p{
    color: #757575;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 70%;
    margin: 20px auto;
}
.skills{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    gap: 24px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-description img, h4 {
    padding: 20px;
}
.skills-descriptio, .footer-connect p {
    color: #757575;
}

/* Footer section style */

.footer {
    display: flex;
    justify-content: space-between;
    background: #fff8f3;
    padding: 100px 250px 20px;
    margin-top: 130px;
}
.footer-connect{
    padding: 0 30px;
    text-align: left;
}
.footer-connect,.footer-form, h3{
    font-size: 25px;
}
.footer-connect p{
    font-size: 16px;
}
input{
    display: block;
    margin: 10px 0;
}
 input[type='text'], [type='email'], [type='submit'], textarea{
    width: 100%;
    padding: 10px; 
}
input[type='submit']{
    background: #EC5B53;
    color: #fff;
    margin: 25px 0;
    padding: 12px 20px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
}
input[type='submit']:hover{
    background: #e74941
}
   
